.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #21568b;
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.star-rating .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.star-rating .star.filled {
    color: #fd0;
}

.star-rating.readonly .star.filled {
    color: #666;
}

.content {
    margin-top: 50px;
}

.undecorated-link:hover {
    text-decoration: none;
}

.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.header-profile-image {
    opacity: 0.8;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

.open .header-profile-image,
a:hover .header-profile-image {
    opacity: 1;
}

.user-header-dropdown-toggle {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.error-text {
    display: none;
}

.has-error .help-block.error-text {
    display: block;
}

.has-error .help-inline.error-text {
    display: inline;
}
